/******************** Add Evidence Form ********************/
/******************** Add Evidence Form ********************/

.evidence-form__header {
    padding: 3rem 2rem 3rem 2rem;
    border-bottom: 1px solid var(--color-accent);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-image: linear-gradient(180deg, var(--color-primary), var(--color-tertiary) 90%);
    color: var(--color-complement);
}

#evidence-form__wrapper {
    display: block;
    background-color: var(--color-complement);
    border: 1px solid var(--color-accent);
    border-radius: 1.5rem;
}

#evidence-form__form {
    padding: 1rem 2rem 1rem 2rem;
}

#evidence-form__form label {
    margin-bottom: 0.5rem;
}

#evidence-form__form input, #evidence-form__form textarea {
    margin: 0 0 1rem 1rem;
    border: none;
    border-bottom: 2px solid lightgray;
}

#evidence-form__helper {
    font-size: x-small;
    padding-bottom: 10px;
}

/* Set a style for the button */
#evidence-form__form button, #evidence-form__form a {
    padding: 0;
    margin-bottom: 1rem;
    overflow: hidden;
    background-color: var(--color-complement);
    border: 1px solid var(--color-accent);
    border-radius: 1.5rem;

    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: black;
    font-size: 1rem;
    text-decoration: none;
}

/*Add some hover effects to buttons */
#evidence-form__form button:hover, #evidence-form__form a:hover {
    background-color: rgba(168, 40, 16, 0.3); /* Accent Colour */
    cursor: pointer;
}

#evidence-form__form button:disabled {
    background-color: gray;
    cursor: default;
}

.evidence-form__error-message {
    margin-left: 10px;
    color: red;
    font-size: small;
    margin-top: -5px;
    margin-bottom: 10px;
}


/* skill and user input */

.input-container {
    /*overflow: hidden;*/
    display: flex;
    flex-direction: column;
    flex: 1 1;
    margin: 7px 0 7px 4px !important;
    position: relative;
}

p {
    margin: 0 !important;
    padding: 0;
}

/* Autocomplete */

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    overflow-wrap: anywhere;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/* skills */

#skill-input-container {
    display: block;
    margin-bottom: 1rem;
    margin-left: 1rem;
    background: #fff;
}

#skill-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0 !important;
    margin: 0 !important;
}

.skill-tag-con {
    display: inline-flex;
    margin: 4px;
}

.skill-tag {
    width: fit-content;
    height: fit-content;
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    padding: 2px 4px 2px 4px;
    display: inline-block;
    border-radius: 5px;
    overflow-wrap: anywhere;
    text-align: center;
}

.skill-tag-inside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#skills-input {
    display: flex;
    padding: 0 !important;
    border: none !important;
    margin: 0 !important;
    width: 80px;
    background: #fff;
}

#skills-input:focus {
    outline: none;
}

#user-input-container {
    display: block;
    margin-bottom: 1rem;
    margin-left: 1rem;
    background: #fff;
}

#user-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0 !important;
    margin: 0 !important;
}

.user-tag-con {
    display: inline-flex;
    margin: 4px;
}

.user-tag {
    width: fit-content;
    height: fit-content;
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    padding: 2px 4px 2px 4px;
    display: inline-block;
    border-radius: 5px;
    overflow-wrap: anywhere;
    text-align: center;
}

.user-tag-inside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user-tag-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.user-tag-text {
    flex-direction: column;
    padding-left: 10px
}

.user-tag-nickname {
    color: #636363;
}

#users-input {
    display: flex;
    padding: 0 !important;
    border: none !important;
    margin: 0 !important;
    width: 80px;
    background: #fff;
}

#users-input:focus {
    outline: none;
}
