:root {
    /* CSS variables */
    --color-primary: #FBAA60;
    --color-secondary: #FADFC6FF;
    --color-tertiary: #F67B50;
    --color-complement: #F4EAE6;
    --color-accent: #A82810;
}


/* Hide scrollbar */
html::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
}

html {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

/* Simple class for hiding components */
.hidden {
    display: none !important;
}

.category__link {
    border: 1px solid #A82810;
    border-radius: 5px;
    background-color: #A82810;
    padding: 2px 4px 2px 4px;
    margin: 4px;
    display: inline;
    text-decoration: none;
    color: white;
    text-align: center;
}

.category__link:hover {
    color:white;
    filter: brightness(85%);
}

.no-category__link {
    border: 1px solid #A82810;
    border-radius: 5px;
    background-color: var(--color-complement);
    padding: 2px 4px 2px 4px;
    margin: 4px;
    display: inline;
    text-decoration: none;
    color: #A82810;
    text-align: center;
}

.no-category__link:hover {
    color:inherit;
    filter: brightness(85%);
}
