
#evidence__header-div {
    position: relative;
    padding: 15px 15px 15px 15px;
    border: 1px solid var(--color-accent);
    background-image: linear-gradient(180deg, var(--color-primary), var(--color-tertiary) 90%);
    color: var(--color-complement);
    border-radius: 10px;
    margin-bottom: 15px;
}

#evidence__header-title {
    margin-left: 30px;
}

#evidence__header-project {
    margin-left: 30px;
    margin-bottom: 0;
    font-weight: normal;
}

.add-evidence__button {
    position: relative;
    border: 1px solid var(--color-accent);
    border-radius: 1.5rem;
    background-color: var(--color-complement);
    padding: 10px;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.add-evidence__button:hover {
    color: inherit;
    background-color: rgba(168, 40, 16, 0.3); /* Accent Colour */
}

.btn-fill-tertiary:hover {
    color: #f78e55;
    border-color: #f78e55;
    background-color: #f4ebe6;
    height: 3rem;
    box-shadow: none !important;
    width: 100%;
    font-size: 1.5rem;
}

.btn-fill-tertiary {
    color: white;
    border-color: var(--color-accent);
    background-color: #e06c41;
    border-radius: 3px;
    padding: 10px;
    height: 3rem;
    box-shadow: none !important;
    width: 100%;
    font-size: 1.5rem;
    text-decoration: none;
}

.skills {
    background-color: var(--color-secondary);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.skill__details {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--color-accent);
}

.web-link__container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.web-links {
    display: flex;
    flex-direction: row;
    gap: 0.2em;
    flex-wrap: wrap;
}

.web-link__name {
    padding: 0;
    margin: 0;
}

.web-link-title {
    border-bottom: 1px solid var(--color-accent);
    width: fit-content;
}

.categories {
    background-color: var(--color-secondary);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.categories__details {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--color-accent);
}