<!DOCTYPE html>

<!-- Project Milestones -->
<div id="project__sprints-wrapper flex-column">
  <div class="milestone__outside" th:each="milestone: ${milestoneList}">
    <div class="milestone-title__child"> <em class="bi bi-trophy"></em> </div>
    <div class="milestone-title__child"> <h2 class="event__name" th:text="${milestone.getMilestoneName}"></h2> </div>
    <!-- Independent Milestone Details -->
    <div class="milestone__details">
      <div class="milestone__details flex-row" >
        <h4 class="milestone__date" th:style="'color : ' + ${milestone.getColour()}" th:text="${milestone.getDateString()} "></h4>
      </div>
    </div>
  </div>
</div>