/******************** Add Evidence Form ********************/

.evidence-form__header {
    padding: 3rem 2rem 3rem 2rem;
    border-bottom: 1px solid var(--color-accent);

    background-image: linear-gradient(180deg, var(--color-primary), var(--color-tertiary) 90%);
    color: var(--color-complement);
    text-outline: var(--color-accent);
}

#evidence-form__wrapper {
    display: block;
    background-color: var(--color-complement);
    border: 1px solid var(--color-accent);
    border-radius: 1.5rem;
    overflow: hidden;
}

#evidence-form__form {
    padding: 1rem 2rem 1rem 2rem;
}



#evidence-form__form label {
    margin-bottom: 0.5rem;
}

#evidence-form__form input, #evidence-form__form textarea {
    margin: 0 0 1rem 1rem;
    border: none;
    border-bottom: 2px solid lightgray;
}

/* Set a style for the button */
#evidence-form__form button, #evidence-form__form a {
    padding: 0;
    margin-bottom: 1rem;
    overflow: hidden;
    background-color: var(--color-complement);
    border: 1px solid var(--color-accent);
    border-radius: 1.5rem;

    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: black;
    font-size: 1rem;
    text-decoration: none;
}

/*Add some hover effects to buttons */
#evidence-form__form button:hover, #evidence-form__form a:hover {
    background-color: rgba(168, 40, 16, 0.3); /* Accent Colour */
    cursor: pointer;
}

.form-error-message {
    margin-left: 10px;
    color: red;
    margin-top: -5px;
    margin-bottom: 10px;
}