/******************** Add/Edit Important Date Form ********************/

.form__header {
    padding: 3rem 2rem 3rem 2rem;
    border-bottom: 1px solid var(--color-accent);

    background-image: linear-gradient(180deg, var(--color-primary), var(--color-tertiary) 90%);
    color: var(--color-complement);
    text-outline: var(--color-accent);
}

#form__wrapper {
    display: block;
    background-color: var(--color-complement);
    border: 1px solid var(--color-accent);
    border-radius: 1.5rem;
    overflow: hidden;
}

#form__body {
    padding: 1rem 2rem 1rem 2rem;
}

#form__body label {
    margin-bottom: 0.5rem;
}

#form__body input, #form__body textarea {
    margin: 0 0 1rem 1rem;
    border: none;
    border-bottom: 2px solid lightgray;
}

#char_count {
    font-size: x-small;
    padding-bottom: 10px;
}

/* Set a style for the  button */
#form__body button, #form__body a {
    padding: 0;
    margin-bottom: 1rem;
    background-color: var(--color-complement);
    border: 1px solid var(--color-accent);
    border-radius: 1.5rem;
    overflow: hidden;

    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: black;
    font-size: 1rem;
    text-decoration: none;
}

/*Add some hover effects to buttons */
#form__body button:hover, #form__body a:hover {
    background-color: rgba(168, 40, 16, 0.3); /* Accent Colour */
    cursor: pointer;
}