.container {
    max-width: 5000px;
    width: 750px;
    padding: 20px;
    margin: 100px auto;
    border-radius: 5px;
    background: lightslategrey;
    display: table;
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 10%);
}

.wrapper {
    background: black;
    text-align: center;
    color: #F4EAE6;
    font-weight: bold;
    margin-top: 10px;
}

h2{
    font-size: 20px;
}

#success {
    color : green
}

#failure {
    color : red
}

div {
    padding: 10px;
}

input, textarea {
    margin-left: 10px;
    margin-bottom: 5px;
    outline-color: white;
}

label.helper{
    margin-left: 10px;
    font-style: italic;
    font-weight: normal;
    color: #c8c8c8;
}

/* Selects any valid <input> */
input:valid, textarea {
    border: none;
    border-bottom: 2px solid lightgray;
}

input.readonly{
    border: none;
    border-bottom: 2px solid lightgray;
    font-colour: #c8c8c8;
}

input.required:valid {
    outline-color: green;
}

/* Selects any invalid <input> */
input:invalid {
    background-color: #fff5f5;
    border: none;
    border-bottom: 2px solid red;
}

input.button {
    padding: 3px 10px 3px 10px;
    margin-left: 0;
}

button {
    padding: 3px 10px 3px 10px;
    margin-right: 5px;
    margin-left: 20px;
}


h4 {
    color: #333333;
    font-size: small;
    margin-bottom: 0;
}

h6 {
    color: #444444;
    font-size: smaller;
    margin-top: 0;
    margin-bottom: 0;
}

.validation_check {
    margin-left: 10px;
    color: red;
    margin-top: 20px;
    margin-bottom: -20px;
}

a.button {
    font-size: medium;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 4px 10px 4px 10px;
    border-bottom: 1px solid lightgray;
    border-radius: 3px;
}
