#calendar__container {
    margin-top: 20px;
    background-color: #F4EAE6;
    border-radius: 5px;
}

.fc-header-toolbar {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0.1em;
}

.update-text {
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1em;
}

