#calendar__container {
    margin-top: 20px;
    background-color: #F4EAE6;
    border-radius: 5px;
}

.fc-header-toolbar {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0.1em;
}

.update-text {
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1em;
}

.tooltip-inner {
    white-space: pre-line;
}

.milestonePlanner, .deadlinePlanner, .eventPlanner {
    background: white;
    border-color: white;
    position: relative;
    width: 30px;
    height: 18px;
    line-height: 17px;
    left: 0;
}

/*.milestonePlanner {*/
/*    bottom: -44px;*/
/*}*/

/*.deadlinePlanner {*/
/*    bottom: -61.5px;*/
/*}*/

/*.eventPlanner {*/
/*    bottom: -77px;*/
/*}*/