.add-evidence-button {
    position: relative;
    border: 1px solid var(--color-accent);
    border-radius: 1.5rem;
    background-color: var(--color-complement);
    padding: 10px;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.add-evidence-button:hover {
    background-color: var(--color-accent);
}

.btn-fill-tertiary:hover {
    color: #f78e55;
    border-color: #f78e55;
    background-color: #f4ebe6;
    height: 3rem;
    box-shadow: none !important;
    width: 100%;
    font-size: 1.5rem;
}

.btn-fill-tertiary {
    color: white;
    border-color: var(--color-accent);
    background-color: #e06c41;
    border-radius: 3px;
    padding: 10px;
    height: 3rem;
    box-shadow: none !important;
    width: 100%;
    font-size: 1.5rem;
    text-decoration: none;
}

.web-links {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}