.hidden {
    display: none;
    visibility: hidden;
}

.container {
    display: flex;
    flex-direction: row;
}

.profile_pic__row {
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.profile_pic__row img {
    max-width: 100%;
    height: auto;
}

.profile_pic__row .icon {
    position: relative;
    width: 30px;
    margin: auto;
    left: 75px;
    bottom: 15px;
}

.profile_pic__row h3 {
    text-align: center;
}

.profile_body__row {
    align-items: center;
    justify-content: right;
    flex-direction: column;
    width: 50%;
    padding-left: 30px;
}

.profile_body__content strong{
    font-size: x-large;
}

.profile_body__content p {
    font-size: 1rem;
}

.UserProfile {
    padding-left: 50px;
}

.profile-image {
    width:150px;
    height:150px;
    object-fit:cover;
}

.profile-icon {
    width:30px;
    height:30px;
    object-fit:cover;
}