:root {
    /* CSS variables */
    --color-primary: #FBAA60;
    --color-secondary: #FADFC6FF;
    --color-tertiary: #F67B50;
    --color-complement: #F4EAE6;
    --color-accent: #A82810;
}

/* Hide scrollbar */
html::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
}

html {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

/* Simple class for hiding components */
.hidden {
    display: none !important;
}


/******************** Project Cards ********************/

.project, #new-project-button {
    position: relative;
    margin-bottom: 1rem;
}

.project, #new-project-button, .project__button-wrapper button, .title_project_buttons button {
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid var(--color-accent);
    border-radius: 1.5rem;
    background-color: var(--color-complement);
}

.project__details-wrapper {
    position: relative;
    padding: 0 20px 0 20px;
}

.project__name {
    margin: 0 15rem 0 0;
    padding: 0;
    height: 5rem;
    line-height: 5rem;

    cursor: pointer;
}

.project__name:hover {
    color: var(--color-accent);
}

.project.collapsed {
    height: 5rem;
    padding-bottom: 0;
}

.project.expanded {
    height: auto;
    padding-bottom: 1.5rem;
}

.project.collapsed .project__details, .project.collapsed .project__sprints-wrapper {
    visibility: hidden !important;
}

.project.expanded .project__details {
    border-top: 1px solid var(--color-accent);
    padding-top: 1rem;
    visibility: visible;
}

.project.expanded .project__sprints-wrapper {
    visibility: visible;
}

.project__date-wrapper h4 {
    margin: 0;
}

.project__button-wrapper {
    position: absolute;
    top: 1rem;
    right: 0;
}

.project__button-wrapper button {
    /* Position & Size */
    margin-right: 1rem;
    padding: 0;
    width: 4rem;
    height: 3rem;
    line-height: 3rem;

    /* Text */
    font-size: 1rem;
    font-weight: 400;
}

#new-project-button {
    /* Position & Size */
    padding: 0;
    height: 3rem;
    line-height: 3rem;

    /* Text */
    font-size: 1.5rem;
}

#new-project-button:hover, .project__button-wrapper button:hover, .title_project_buttons button:hover {
    background-color: rgba(168, 40, 16, 0.3); /* Accent Colour */
    cursor: pointer;
}


/******************** Project Card Sprints ********************/

.sprint, .new-sprint-button {
    padding: 0 20px 0 20px;
    border-top: 1px solid var(--color-accent);
    background-color: var(--color-complement);
}

.sprint:last-child {
    border-bottom: 1px solid var(--color-accent);
}

.sprint__name {
    margin: 0 10rem 0 0;
    padding: 0;
    height: 3rem;
    line-height: 3rem;

    cursor: pointer;
}

.sprint__name:hover {
    color: var(--color-accent);
}

.sprint.collapsed {
    height: 3rem;
}

.sprint.expanded {
    height: auto;
}

.sprint.collapsed .sprint__details {
    visibility: hidden;
}

.sprint.expanded .sprint__details {
    border-top: 1px solid var(--color-accent);
    padding-top: 1rem;
    visibility: visible;
}

.sprint__date-wrapper h4 {
    margin: 0;
}

.new-sprint-button:hover {
    background-color: rgba(168, 40, 16, 0.3); /* Accent Colour */
    cursor: pointer;
}

/******************** Add/Edit Project Form ********************/

#add-edit__popup {
    display: block;
}

/* The popup form */
#add-edit__form {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid var(--color-accent);
    background-color: var(--color-secondary);
    overflow: hidden;
    border-radius: 1.5rem;
    z-index: 9;
}

/* Add styles to the form container */
#add-edit__form {
    width: 600px;
    padding: 10px;
    background-color: var(--color-secondary);
}

 /*Full-width input fields*/
#add-edit__form .edit-input {
    width: calc(100% - 30px);
    padding: 15px;
    margin: 5px 20px 25px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 1rem;
    resize: none;
}

/* When the inputs get focus, do something */
#add-edit__form .edit-input:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the  button */
#add-edit__form button {
    background-color: var(--color-complement);
    color: black;
    padding: 16px 20px;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    overflow: hidden;
    border-radius: 1.5rem;
    border: 1px solid var(--color-accent);
}


 /*Add some hover effects to buttons */
#add-edit__form button:hover {
     background-color: rgba(168, 40, 16, 0.3); /* Accent Colour */
     cursor: pointer;
}

#add-edit__overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 8;
}

.form-container .editProject {
    width: 100%;
    border: none;
    background: #f1f1f1;
    padding: 10px 30px 10px 20px;
}

.title_project_buttons button {
    /* Position & Size */
    margin-right: 1rem;
    padding: 0px;
    width: 4rem;
    height: 3rem;
    line-height: 3rem;

    /* Text */
    font-size: 1rem;
    font-weight: 400;
}

.title_button_wrapper {
    padding: 12px 10px 5px 10px;
    margin: 32px;
    align-items: baseline;
    justify-content: start;
}

.title-project_description {
    padding-left: 20px;
    font-size: 1.2rem;
}

.header__paragraph {
    background-color: var(--color-complement);
    border: 1px solid var(--color-accent);
    border-top: 1px solid var(--color-primary);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-bottom: 20px;
}