:root {
    font-size: 16px;

    /* CSS variables */
    --site-navigation-width: 200px;
    --color-primary: #FBAA60;
    --color-secondary: #fadfc6;
    --color-tertiary: #F67B50;
    --color-complement: #F4EAE6;
    --color-accent: #A82810;
}


/******************** Elements ********************/

body {
    font-family: Arial, sans-serif;
    font-weight: 200;
    background-color: rgba(251, 196, 144, 0.5); /* Secondary Colour */
}

h5 {
    font-size: 1.5rem;

}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}



a:hover {
    color: inherit;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}


/******************** Page content ********************/

#page-content {
    display: block;
    padding: 1rem;
}

#page-content.constrict, header.constrict{
    margin-left: var(--site-navigation-width);
}

#page-content.expanded, header.expanded {
    margin-left: 0;
}

/***************** Navigation Bar *******************/

.nav-head {
    text-align: center;
}

#nav-head__title {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.site-navigation__link{
    /*float: left;*/
    width: 160px;
    text-align: left;
}

.site-navigation__link:hover{
    color:inherit
}

.site-navigation__sublink:hover {
    color: inherit
}

#nav-head__line {
    border: 1px solid white;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}

.navigation_icon {
    font-size: 20px;
    border-radius: 0.25em;
    /*padding: 0.5em;*/
}