<div>
    <!-- Button trigger modal -->
    <div class="flex-row" id="group-repository-info__wrapper">
        <div class="flex-column" id="group-repository-information">
            <!-- If not the first load of the page then show if the changes were saved or discarded           -->
            <div th:if="${!firstLoad}">
                <h6 th:if="${changesSaved}" style="color:#FF0000">Changes saved successfully</h6>
                <h6 th:if="${!changesSaved}" style="color:#FF0000">Changes discarded</h6>
            </div>
            <h5 th:if="${commits} != null" th:text="'Connected to: ' + ${groupRepositorySettings.getRepositoryName()} + '.'"></h5>
            <h5 th:if="${commits} != null" th:text="${commits.size()} + ' commits to repository.'"></h5>
            <h5 th:if="${commits} == null" style="color:#FF0000">Error: Cannot connect to repository</h5>
        </div>
            <button type="button" id="open-modal__button" data-bs-toggle="modal" data-bs-target="#group-repository-settings__modal">Repository Settings</button>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="group-repository-settings__modal" tabindex="-1" aria-labelledby="group-repository__modal--label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header group-repository-form__header">
                    <h5 class="modal-title" id="group-repository__modal--label">Repository Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="updateGroupRepositoryElement(false)"></button>
                </div>
                <div class="modal-body group-repository-form__wrapper">
                    <form id="group-repository-form__form" class="flex-column" onsubmit="saveGroupRepositorySettings(); return false"> <!--Return false to prevent the page from reloading-->
                        <label for="group-repository__name">Repository Name *</label>
                        <input type="text" id="group-repository__name" name="repositoryName" th:value="${groupRepositorySettings.getRepositoryName()}" pattern="(.|\s)*\S(.|\s)*" title="Repository name must not be blank" required>

                        <label for="group-repository__api-key">Repository API Key *</label>
                        <input type="text" id="group-repository__api-key" name="repositoryApiKey" th:value="${groupRepositorySettings.getGitlabAccessToken()}" pattern="(.|\s)*\S(.|\s)*" title="Repository API key must not be blank" required>

                        <label for="group-repository__id">Repository ID *</label>
                        <input type="text" id="group-repository__id" name="repositoryId" th:value="${groupRepositorySettings.getGitlabProjectId()}" pattern="[0-9]+" title="Repository id must be an integer" required>

                        <label for="group-repository__server-url">Repository Server URL *</label>
                        <input type="text" id="group-repository__server-url" name="repositoryServerUrl" th:value="${groupRepositorySettings.getGitlabServerUrl()}" pattern="(.|\s)*\S(.|\s)*" title="Repository server URL must not be blank" required>

                        <button type="submit" id="group-form__save">Save Changes</button>
                        <a id="group-form__discard" data-bs-dismiss="modal" onclick="updateGroupRepositoryElement(false)" th:href="@{groups}">Discard</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>