<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Navigation Bar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/styles/stylesheet.css">
</head>

<body>

<!-- A pop-up form for adding/editing projects -->
<div th:fragment="addEditProjectForm" id="project-form__popup" class="hidden">
    <link rel="stylesheet" href="/styles/addEditProject.css">
    <script rel="script" src="/scripts/addEditProject.js"></script>

    <!-- Background page overlay -->
    <div id="project-form__overlay"></div>

    <!-- Form -->
    <form id="project-form__form" th:action="@{/projects}" class="form-container" th:method="post">
        <input type="hidden" id="project-form__id" name="projectId"/>

        <div id="project-form__title"></div>
        <label for="project-form__name-field"><b>Project Name</b></label>
        <input type="text" id="project-form__name-field" class="edit-input" name="projectName" required>

        <label for="project-form__description-field"><b>Project Description</b></label>
        <textarea id="project-form__description-field" class="edit-input" name="projectDescription"></textarea>

        <label for="project-form__start-date-field"><b>Project Start Date</b></label>
        <input type="date" id="project-form__start-date-field" class="edit-input" name="projectStartDate" onchange="updateMinEndDate()" required>

        <label for="project-form__end-date-field"><b>Project End Date</b></label>
        <input type="date" id="project-form__end-date-field" class="edit-input" name="projectEndDate" required>

        <button type="submit" id="project-form__save">Save Changes</button>
        <button id="project-form__discard" onclick="return closeAddEditForm()">Discard</button>
    </form>
</div>

</body>

</html>