<!DOCTYPE html>

<!-- Project Deadlines -->
<div id="project__sprints-wrapper flex-column">
  <div class="event__outside" th:each="deadline: ${deadlineList}">
    <div class="event_title_child"> <i class="bi bi-alarm"></i> </div>
    <div class="event_title_child"> <h2 class="event__name" th:text="${deadline.getDeadlineName}"></h2> </div>
    <!-- Edit/Delete Independent deadlines -->
    <div class="event__button-wrapper flex-row">
      <form action="#" th:action="@{editDeadline-{deadline}-{project}(deadline=${deadline.getDeadlineId}, project=${project.getId})}" th:method="get">
        <button type="submit">Edit</button>
      </form>

      <form action="#" th:action="@{editDeadline-{deadline}-{project}(deadline=${deadline.getDeadlineId}, project=${project.getId})}" onSubmit="return confirm('Are you sure you want to delete this deadline?\nThis action cannot be undone.')" th:method="delete" >
        <button type="submit">Delete</button>
      </form>
    </div>
    <!-- Independent Deadline Details -->
    <div class="event__details">
      <div class="event__details flex-row" >
        <h4 class="event__date" th:style="'color : ' + ${deadline.getColour()}" th:text="${deadline.getDateString()} "></h4>
      </div>
    </div>
  </div>
</div>