<!DOCTYPE html>

<!-- List of Evidence -->
<div id="project__sprints-wrapper flex-column">
    <div class="event__outside" th:each="evidence: ${evidenceList}">
        <div class="event_title_child">
            <h2 class="evidence__title" type="button" data-bs-toggle="collapse" aria-expanded="false" th:data-bs-target="'evidence_details''" th:text="${evidence.getTitle}"></h2>
        </div>
        <!-- Evidence Details -->
        <div class="evidence__details collapse" th:id="'evidence_details'">
            <div class="event__details flex-row" >
                <h4 class="event__date" th:text="${evidence.getDateString} "></h4>
                <h4 class="event__date" th:text="${evidence.getDescription} "></h4>
            </div>
        </div>
    </div>
</div>