<!DOCTYPE html>

<!-- List of Evidence -->
<div id="evidence__form-wrapper flex-column">
    <div class="evidence__collapsed" th:each="evidence: ${evidenceList}">
        <div class="evidence_title_child" type="button" data-bs-toggle="collapse" th:aria-controls="evidence_ + ${evidence.getId}" aria-expanded="false" th:data-bs-target="'#evidence_' + ${evidence.getId}">
            <h2 class="evidence__title" th:text="${evidence.getTitle} + ' - '"></h2>
            <h3 class="evidence__date" th:text="${evidence.getDateString} "></h3>
        </div>

        <!-- Evidence Details -->
        <div class="evidence__details collapse" th:id="evidence_ + ${evidence.getId}">
            <div class="evidence__details_expanded flex-column" >
                <h4 class="evidence__description" th:text="${evidence.getDescription} "></h4>
              <div class="web-link-container">
                <h4>Web Links</h4>
                <div class="web-links" th:each="web: ${evidence.getWebLinks()}">
                  <p class="web-link-name" th:if="${web.getName() != null}" th:text="${web.getName()} + ' - '"></p>
                  <a target="_blank" th:text="${#strings.abbreviate(web.getLink(),80)}" th:href="${web.getLink()}"></a>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>