<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Header Bar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{./styles/stylesheet.css}">
</head>

<body>
    <header th:fragment="header" id="page-header" class="constrict">
        <link rel="stylesheet" th:href="@{./styles/navbar.css}"/>
        <script rel="script" th:src="@{./scripts/navbar.js}"></script>
        <ul class="header__list">
            <a>
                <span style="font-size: 30px; cursor: pointer" onclick="toggleNavbarVisibility()">&#9776</span>
            </a>
            <li class="header__dropdown">
                <a href="javascript:void(0)" class="header__dropdown_button"><img th:src="${user.profileImagePath}" width="30px" alt="Profile Photo"></a>
                <div class="header__dropdown_content">
                    <a th:href="@{./editUser}">Edit User</a>
                    <a th:href="@{./changePassword}">Change Password</a>
                    <a th:href="@{./login}">Logout</a>
                </div>
            </li>
            <li class="header__item">
                <p th:text="${user.username}"></p>
            </li>
        </ul>
    </header>
</body>