<!DOCTYPE html>

<div id="project__sprints-wrapper flex-column">
  <div th:each="importantDate : ${importantDates}">
    <div class="sprint" th:if="${importantDate.getSecond() == 'Sprint'}">
      <h2 class="sprint__name" th:style="'color : ' + ${sprintList.get(importantDate.getFirst()).getColour()}" th:text="|${sprintList.get(importantDate.getFirst()).getLabel} - ${sprintList.get(importantDate.getFirst()).getName}|"></h2>
      <!-- Sprint Details -->
      <div class="sprint__details" th:style="'color : ' + ${sprintList.get(importantDate.getFirst()).getColour()}">
        <h4 class="sprint__date" th:text="|${sprintList.get(importantDate.getFirst()).getStartDateString} - ${sprintList.get(importantDate.getFirst()).getEndDateString}|"></h4>
        <p class="sprint__description" th:text="${sprintList.get(importantDate.getFirst()).getDescription}"></p>
      </div>

      <div class="event__details">
        <div th:each="event : ${sprintList.get(importantDate.getFirst()).getEventsInside}">
          <div class="event">
            <div class="event_title_child"> <i class="bi bi-calendar-event"></i> </div>
            <div class="event_title_child"> <h2 class="event__name" th:text="${eventList.get(event).getEventName}"></h2> </div>
            <!-- Event Details -->
            <div class="event__details flex-row" >
              <h4 class="event__date" th:style="'color : ' + ${eventList.get(event).getColourStart()}" th:text="${eventList.get(event).getStartDateString()}"></h4>
              <h4 class="event__date" th:style="'color : ' + ${eventList.get(event).getColourStart()}"> - </h4>
              <h4 class="event__date" th:style="'color : ' + ${eventList.get(event).getColourEnd()}" th:text="${eventList.get(event).getEndDateString()}"></h4>
            </div>
          </div>
        </div>
      </div>

      <div class="break"></div>

      <div class="event__details">
        <div th:each="deadline : ${sprintList.get(importantDate.getFirst()).getDeadlinesInside}">
          <div class="event">
            <div class="event_title_child"> <i class="bi bi-alarm"></i> </div>
            <div class="event_title_child"> <h2 class="event__name" th:text="${deadlineList.get(deadline).getDeadlineName}"></h2> </div>
            <!-- Event Details -->
            <div class="event__details flex-row" >
              <h4 class="event__date" th:style="'color : ' + ${deadlineList.get(deadline).getColour()}" th:text="${deadlineList.get(importantDate.getFirst()).getDeadlineDate()} "></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Independent Events -->
    <div class="event__outside" th:if="${importantDate.getSecond() == 'Event'}">
      <div class="event_title_child"> <i class="bi bi-calendar-event"></i> </div>
      <div class="event_title_child"> <h2 class="event__name" th:text="${eventList.get(importantDate.getFirst()).getEventName}"></h2> </div>
      <!-- Independent Event Details -->
      <div class="event__details">
        <div class="event__details flex-row" >
          <h4 class="event__date" th:style="'color : ' + ${eventList.get(importantDate.getFirst()).getColourStart()}" th:text="${eventList.get(importantDate.getFirst()).getStartDateString()} "></h4>
          <h4 class="event__date" th:style="'color : ' + ${eventList.get(importantDate.getFirst()).getColourStart()}"> - </h4>
          <h4 class="event__date" th:style="'color : ' + ${eventList.get(importantDate.getFirst()).getColourEnd()}" th:text="${eventList.get(importantDate.getFirst()).getEndDateString()}"></h4>
        </div>
      </div>
    </div>

    <div class="event__outside" th:if="${importantDate.getSecond() == 'Deadline'}">
      <div class="event_title_child"> <i class="bi bi-alarm"></i> </div>
      <div class="event_title_child"> <h2 class="event__name" th:text="${deadlineList.get(importantDate.getFirst()).getDeadlineName}"></h2> </div>
      <!-- Independent Deadline Details -->
      <div class="event__details">
        <div class="event__details flex-row" >
          <h4 class="event__date" th:style="'color : ' + ${deadlineList.get(importantDate.getFirst()).getColour()}" th:text="${deadlineList.get(importantDate.getFirst()).getDeadlineDate()} "></h4>
        </div>
      </div>
    </div>
  </div>
</div>