<!DOCTYPE html>

<div id="project__sprints-wrapper flex-column">
  <div th:each="importantDate : ${importantDates}">
    <div class="sprint" th:if="${importantDate.getSecond() == 'Sprint'}">
      <h2 class="sprint__name" th:style="'color : ' + ${sprintList.get(importantDate.getFirst()).getColour()}" th:text="|${sprintList.get(importantDate.getFirst()).getLabel} - ${sprintList.get(importantDate.getFirst()).getName}|"></h2>

      <!-- Edit/Delete Sprint Buttons -->
      <div class="sprint__button-wrapper flex-row">
        <form action="#" th:action="@{editSprint-{sprint}-{project}?tab=0(project=${project.getId}, sprint=${sprintList.get(importantDate.getFirst()).getId})}" th:method="get">
          <button type="submit">Edit</button>
        </form>

        <form action="#" th:action="@{editSprint-{sprint}-{project}?tab=0(project=${project.getId}, sprint=${sprintList.get(importantDate.getFirst()).getId})}" onSubmit="return confirm('Are you sure you want to delete this sprint?\nThis action cannot be undone.')" th:method="delete" >
          <button type="submit">Delete</button>
        </form>
      </div>

      <!-- Sprint Details -->
      <div class="sprint__details" th:style="'color : ' + ${sprintList.get(importantDate.getFirst()).getColour()}">
        <h4 class="sprint__date" th:text="|${sprintList.get(importantDate.getFirst()).getStartDateString} - ${sprintList.get(importantDate.getFirst()).getEndDateString}|"></h4>
        <p class="sprint__description" th:text="${sprintList.get(importantDate.getFirst()).getDescription}"></p>
      </div>

      <div class="event__details">
        <div th:each="event : ${sprintList.get(importantDate.getFirst()).getEventsInside}">
          <div class="event">
            <div class="event_title_child"> <i class="bi bi-calendar-event"></i> </div>
            <div class="event_title_child"> <h2 class="event__name" th:text="${eventList.get(event).getEventName}"></h2> </div>
            <!-- Edit/Delete Inside event Buttons -->
            <div class="event__button-wrapper flex-row">

              <form action="#" th:action="@{editEvent-{event}-{project}?tab=0(project=${project.getId}, event=${eventList.get(event).getEventId})}" th:method="get">
                <button type="submit">Edit</button>
              </form>

              <form action="#" th:action="@{editEvent-{event}-{project}?tab=0(project=${project.getId}, event=${eventList.get(event).getEventId})}" onSubmit="return confirm('Are you sure you want to delete this event?\nThis action cannot be undone.')" th:method="delete" >
                <button type="submit">Delete</button>
              </form>
            </div>
            <!-- Event Details -->
            <div class="event__details flex-row" >
              <h4 class="event__date" th:style="'color : ' + ${eventList.get(event).getColourStart()}" th:text="${eventList.get(event).getStartDateString()}"></h4>
              <h4 class="event__date" th:style="'color : ' + ${eventList.get(event).getColourStart()}"> - </h4>
              <h4 class="event__date" th:style="'color : ' + ${eventList.get(event).getColourEnd()}" th:text="${eventList.get(event).getEndDateString()}"></h4>
            </div>
          </div>
        </div>
      </div>

      <div class="break"></div>

      <div class="event__details">
        <div th:each="deadline : ${sprintList.get(importantDate.getFirst()).getDeadlinesInside}">
          <div class="event">
            <div class="event_title_child"> <i class="bi bi-alarm"></i> </div>
            <div class="event_title_child"> <h2 class="event__name" th:text="${deadlineList.get(deadline).getDeadlineName}"></h2> </div>
            <!-- Edit/Delete Inside deadline Buttons -->
            <div class="event__button-wrapper flex-row">

              <form action="#" th:action="@{editDeadline-{deadline}-{project}(deadline=${deadlineList.get(deadline).getDeadlineId}, project=${project.getId})}"  th:method="get">
                <button type="submit">Edit</button>
              </form>

              <form action="#"  onSubmit="return confirm('Are you sure you want to delete this event?\nThis action cannot be undone.')" th:method="delete" >
                <button type="submit">Delete</button>
              </form>
            </div>
            <!-- Inside deadline Details -->
            <div class="event__details flex-row" >
              <h4 class="event__date" th:style="'color : ' + ${deadlineList.get(deadline).getColour()}" th:text="${deadlineList.get(importantDate.getFirst()).getDeadlineDate()} "></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Independent Events -->
    <div class="event__outside" th:if="${importantDate.getSecond() == 'Event'}">
      <div class="event_title_child"> <i class="bi bi-calendar-event"></i> </div>
      <div class="event_title_child"> <h2 class="event__name" th:text="${eventList.get(importantDate.getFirst()).getEventName}"></h2> </div>
      <!-- Edit/Delete Independent events -->
      <div class="event__button-wrapper flex-row">
        <form action="#" th:action="@{editEvent-{event}-{project}?tab=0(project=${project.getId}, event=${eventList.get(importantDate.getFirst()).getEventId})}" th:method="get">
          <button type="submit">Edit</button>
        </form>

        <form action="#" th:action="@{editEvent-{event}-{project}?tab=0(project=${project.getId}, event=${eventList.get(importantDate.getFirst()).getEventId})}" onSubmit="return confirm('Are you sure you want to delete this event?\nThis action cannot be undone.')" th:method="delete" >
          <button type="submit">Delete</button>
        </form>
      </div>
      <!-- Independent Event Details -->
      <div class="event__details">
        <div class="event__details flex-row" >
          <h4 class="event__date" th:style="'color : ' + ${eventList.get(importantDate.getFirst()).getColourStart()}" th:text="${eventList.get(importantDate.getFirst()).getStartDateString()} "></h4>
          <h4 class="event__date" th:style="'color : ' + ${eventList.get(importantDate.getFirst()).getColourStart()}"> - </h4>
          <h4 class="event__date" th:style="'color : ' + ${eventList.get(importantDate.getFirst()).getColourEnd()}" th:text="${eventList.get(importantDate.getFirst()).getEndDateString()}"></h4>
        </div>
      </div>
    </div>

    <div class="event__outside" th:if="${importantDate.getSecond() == 'Deadline'}">
      <div class="event_title_child"> <i class="bi bi-alarm"></i> </div>
      <div class="event_title_child"> <h2 class="event__name" th:text="${deadlineList.get(importantDate.getFirst()).getDeadlineName}"></h2> </div>
      <!-- Edit/Delete Independent Deadline -->
      <div class="event__button-wrapper flex-row">
        <form action="#" th:action="@{editDeadline-{deadline}-{project}(deadline=${deadlineList.get(importantDate.getFirst()).getDeadlineId}, project=${project.getId})}" th:method="get">
          <button type="submit">Edit</button>
        </form>

        <form action="#" onSubmit="return confirm('Are you sure you want to delete this event?\nThis action cannot be undone.')" th:method="delete" >
          <button type="submit">Delete</button>
        </form>
      </div>
      <!-- Independent Deadline Details -->
      <div class="event__details">
        <div class="event__details flex-row" >
          <h4 class="event__date" th:style="'color : ' + ${deadlineList.get(importantDate.getFirst()).getColour()}" th:text="${deadlineList.get(importantDate.getFirst()).getDeadlineDate()} "></h4>
        </div>
      </div>
    </div>
  </div>
</div>


