<!DOCTYPE html>

<!-- Project Sprints -->
<div id="project__sprints-wrapper flex-column">
  <div class="event__outside" th:each="event: ${eventList}">
    <div class="event_title_child"> <em class="bi bi-calendar-event"></em> </div>
    <div class="event_title_child"> <h2 class="event__name" th:text="${event.getEventName}"></h2> </div>
    <!-- Edit/Delete Independent events -->
    <div class="event__button-wrapper flex-row">
      <form action="#" th:action="@{editEvent-{event}-{project}(project=${project.getId}, event=${event.getEventId})}" th:method="get">
        <button type="submit">Edit</button>
      </form>

      <form action="#" th:action="@{editEvent-{event}-{project}(project=${project.getId}, event=${event.getEventId})}" onSubmit="return confirm('Are you sure you want to delete this event?\nThis action cannot be undone.')" th:method="delete" >
        <button type="submit">Delete</button>
      </form>
    </div>
    <!-- Independent Event Details -->
    <div class="event__details">
      <div class="event__details flex-row" >
        <h4 class="event__date" th:style="'color : ' + ${event.getColourStart()}" th:text="${event.getStartDateString()} "></h4>
        <h4 class="event__date"> - </h4>
        <h4 class="event__date" th:style="'color : ' + ${event.getColourEnd()}" th:text="${event.getEndDateString()}"></h4>
      </div>
    </div>
  </div>
</div>