<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <title th:text="${group.getShortName()}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
  <script th:src="@{webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" th:href="@{styles/stylesheet.css}">
  <link rel="stylesheet" th:href="@{styles/group/groupSettings.css}">
  <link rel="stylesheet" th:href="@{styles/group/groups.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
  <script th:src="@{scripts/groupSettings.js}"></script>
  <script th:inline="javascript">
    const CONTEXT = [[${@environment.getProperty('PORTFOLIO_CONTEXT')}]];
    const GROUP_ID = [[${group.getGroupId}]];
  </script>
</head>

<body>
<!-- Import the application's header bar. -->
<header th:replace="fragments/header :: header"></header>
<!-- Import the application's navigation bar. -->
<nav th:replace="fragments/navbar :: navbar"></nav>

<!-- Page content -->
<div id="page-content" class="constrict">
  <div id="group">
    <header class="group_header flex-column">
      <h1 class="group_short_name" th:text="${group.getShortName()}"></h1>
      <h2 class="group_long_name" th:text="${group.getLongName()}"></h2>
    </header>
    <div class="group-repository__wrapper">
      <div class="repository_container" id="repository_container" th:if="${userInGroup || authUserIsTeacher}">

      </div>
    </div>
    <div class="member-container">
      <div class="member-block" th:each="member: ${group.getMembers()}">
        <div th:replace="fragments/groupMember"></div>
      </div>
    </div>
  </div>
</div>
</body>
<script>
  updateGroupRepositoryElement(true)
</script>

</html>