:root {
    /* CSS variables */
    --color-primary: #FBAA60;
    --color-secondary: #FADFC6FF;
    --color-tertiary: #F67B50;
    --color-complement: #F4EAE6;
    --color-accent: #A82810;
}


/* Hide scrollbar */
html::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
}

html {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

/* Simple class for hiding components */
.hidden {
    display: none !important;
}

/******************** Project Details ********************/

#group {
    position: relative;

    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid var(--color-accent);
    border-radius: 1.5rem;
    background-color: var(--color-complement);

    overflow: hidden;
}

#group header {
    padding: 3rem 2rem 3rem 2rem;
    border-bottom: 1px solid var(--color-accent);

    background-image: linear-gradient(180deg, var(--color-primary), var(--color-tertiary) 90%);
    color: var(--color-complement);
}

.group-short-name {
    font-weight: 400;
    margin: 0 0 1rem 0;
    width: calc(100% - 15rem);
    word-wrap: break-word;
}

.member-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 10px 10px 10px;
}

.group-member {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    border: 1px solid var(--color-accent);
    background-color: rgba(251, 196, 144, 0.3);
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    align-items: center;

}

.member-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.member-details__container {
    display: flex;
    flex-direction: column;
}

.member-name__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 5px;
    flex-wrap: wrap;
}

.member-name {
    margin: 0;
    padding: 0;
}

#group-repository-form__wrapper {
    display: block;
    background-color: var(--color-complement);
    border: 1px solid var(--color-accent);
    border-radius: 1.5rem;
    overflow: hidden;
}

#group-repository-form__form {
    padding: 1rem 2rem 1rem 2rem;
}

#group-repository-form__form label {
    margin-bottom: 0.5rem;
}

#group-repository-form__form input, #group-repository-form__form textarea {
    margin: 0 0 1rem 1rem;
    border: none;
    border-bottom: 2px solid lightgray;
}

.group-repository-form__header {
    border-bottom: 1px solid var(--color-accent);

    background-image: linear-gradient(180deg, var(--color-primary), var(--color-tertiary) 90%);
    color: var(--color-complement);
}

#char_count_long_name, #char_count_short_name {
    font-size: x-small;
    padding-bottom: 10px;
}

/* Set a style for the  button */
#group-repository-form__form button, #group-repository-form__form a {
    padding: 0;
    margin-bottom: 1rem;
    background-color: var(--color-complement);
    border: 1px solid var(--color-accent);
    border-radius: 1.5rem;
    overflow: hidden;

    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: black;
    font-size: 1rem;
    text-decoration: none;
}

/*Add some hover effects to buttons */
#group-repository-form__form button:hover, #group-repository-form__form a:hover {
    background-color: rgba(168, 40, 16, 0.3); /* Accent Colour */
    cursor: pointer;
}

.group-repository__wrapper {
    position: relative;
    padding: 0 1rem 0 1rem;
}

.repository_container {
    margin: 1rem 0 1rem 0;
    visibility: visible;
    border: 1px solid var(--color-accent);
    border-radius: 1.5rem;
    background-color: var(--color-complement);
}

#open-modal__button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: x-large;
    height: 3rem;
    margin: 1rem 1rem 1rem auto;
}

#group-repository-info__wrapper {
    align-items: start;
}

#group-repository-information {
    margin: 1rem;
}