
/******************** Group Cards ********************/

.group, #new-group-button {
    position: relative;
    margin-bottom: 1rem;
}

#group__header-div {
    position: relative;
    padding: 15px 15px 15px 15px;
    border: 1px solid var(--color-accent);
    background-image: linear-gradient(180deg, var(--color-primary), var(--color-tertiary) 90%);
    color: var(--color-complement);
    border-radius: 10px;
    margin-bottom: 15px;
}

#group__header-title {
    margin-left: 30px;
}

#group__header-project {
    margin-left: 30px;
    margin-bottom: 0;
    font-weight: normal;
}


.group, #new-group-button, .group__button-wrapper button, #open-modal__button {
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    background-color: var(--color-complement);
}

.group__details-wrapper {
    position: relative;
    padding: 0 2rem 0 2rem;
}

.group__name {
    margin: 0 15rem 0 0;
    padding: 0;
    height: 5rem;
    line-height: 5rem;

    cursor: pointer;
}

.group__name:hover {
    color: var(--color-accent);
}

.table {
    table-layout: fixed;
    overflow-wrap: break-word;
    width: 100%;
    border-collapse: collapse;
    min-width: 400px;
    font-size: small;
    margin: 25px auto;
}

.group__details {
    border-top: 1px solid var(--color-accent);
    padding-top: 1rem;
    visibility: visible;
}

.group__button-wrapper {
    position: absolute;
    top: 1rem;
    right: 0;
}
.group__long-name {
    word-wrap: break-word;
}

.group__button-wrapper button{
    /* Position & Size */
    margin-right: 1rem;
    padding: 0 1rem 0 1rem;
    min-width: 4rem;
    height: 3rem;
    line-height: 3rem;

    /* Text */
    font-size: 1rem;
    font-weight: 400;
}

#new-group-button {
    /* Position & Size */
    padding: 0;
    height: 3rem;
    line-height: 3rem;

    /* Text */
    font-size: 1.5rem;
    text-decoration: none;
    color: initial;
    text-align: center;
}

#new-group-button:hover, #open-modal__button:hover, .group__button-wrapper button:hover{
    background-color: rgba(168, 40, 16, 0.3); /* Accent Colour */
    cursor: pointer;
}

.unselected {
    --bs-table-accent-bg: var(--color-complement)
}

.selected {
    opacity: 0.8 !important;
}

#no-hover {
    --bs-table-hover-bg: var(--color-complement);
}