<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" th:href="@{styles/changePassword.css}">


</head>
<body>

    <header th:replace="fragments/header :: header"> </header>
    <nav th:replace="fragments/navbar :: nav"></nav>

    <div id="page-content" class="constrict">
        <div class="container">

            <form th:action="@{changePassword}" method="post">
                <div class="wrapper">
                    <h1>Change Password</h1>
                    <h2>Please enter your details below</h2>
                </div>

                <div>
                    <div class ="row">
                        <label>
                            <input type="password" placeholder="Current password" th:name="oldPassword" minlength="8" maxlength="64" required class="required" /><label class="helper" >Please enter your current password</label>
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            <input id="newPassword" type="password" placeholder="New password" th:name="newPassword" minlength="8" maxlength="64" required class="required" /><label class="helper" >Please enter your new password, must be at least 8 characters</label>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input id="confirmPassword" type="password" placeholder="Confirm password" th:name="confirmPassword " minlength="8" maxlength="64" required class="required" /><label class="helper" >Please confirm new password, it must match your new password</label>
                        </label>
                    </div>
                    <div>
                    <p id="success" class="validation_check"  th:text="${success}"></p>
                    <p id="failure" class="validation_check" th:text="${failure}"></p>
                    </div>
                    <br>
                    <input class="button" type="submit" value="Submit"/>
                </div>
            </form>
            </div>
    </div>
</body>
</html>
<script rel="script" th:src="@{scripts/changePassword.js}"></script>
