<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/stylesheet.css}" rel="stylesheet" />
    <link th:href="@{/styles/addEditSprint.css}" rel="stylesheet" />
    <script rel="script" th:src="@{/scripts/addEditSprint.js}"></script>
</head>

<body>
    <!-- Import the application's header bar. -->
    <header th:replace="fragments/header :: header"></header>
    <!-- Import the application's navigation bar. -->
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <!-- Page content -->
    <div id="page-content" class="constrict">
        <div id="sprint-form__wrapper">
            <!-- Name, Date -->
            <header class="sprint-form__header flex-column">
                <h1 id="sprint__name" th:text="${sprint.getName}"></h1>
                <h2 id="sprint__label" th:text="${sprint.getLabel}"></h2>
            </header>

            <!-- Add/Edit Sprint Form -->
            <form id="sprint-form__form" class="flex-column" th:action="@{/projects/edit-sprint}" th:method="put">
                <input type="hidden" id="sprint-form__project-id" name="parentProjectId"/>
                <input type="hidden" id="sprint-form__sprint-id" name="sprintId"/>
                <input type="hidden" id="sprint-form__label" name="sprintLabel"/>

                <label for="sprint-form__name-field">Sprint Name *</label>
                <input type="text" id="sprint-form__name-field" class="edit-input" name="sprintName" th:placeholder="${sprint.getName}" th:value="${sprint.getName}" required>

                <label for="sprint-form__description-field">Sprint Description</label>
                <textarea id="sprint-form__description-field" class="edit-input" name="sprintDescription" th:placeholder="${sprint.getDescription}" th:value="${sprint.getDescription}"></textarea>

                <label for="sprint-form__start-date-field">Sprint Start Date *</label>
                <input type="date" id="sprint-form__start-date-field" class="edit-input" name="sprintStartDate" th:placeholder="${sprint.getStartDateString}" th:value="${sprint.getStartDateString}" onchange="updateMinSprintEndDate()" required>

                <label for="sprint-form__end-date-field">Sprint End Date *</label>
                <input type="date" id="sprint-form__end-date-field" class="edit-input" name="sprintEndDate" th:placeholder="${sprint.getEndDateString}" th:value="${sprint.getEndDateString}" required>

                <button type="submit" id="sprint-form__save">Save Changes</button>
                <a id="sprint-form__discard" th:href="@{/projects/{project}(project=${project.getId})}">Discard</a>
            </form>
        </div>
    </div>
</body>

</html>