<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/stylesheet.css}" rel="stylesheet" />
    <link th:href="@{/styles/addEditProject.css}" rel="stylesheet" />
    <script rel="script" th:src="@{/scripts/addEditProject.js}"></script>
</head>
<body>
    <!-- Import the application's header bar. -->
    <header th:replace="fragments/header :: header"></header>
    <!-- Import the application's navigation bar. -->
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <!-- Page content -->
    <div id="page-content" class="constrict">
        <div id="project-form__wrapper">
            <!-- Name, Date -->
            <header class="project-form__header flex-column">
                <h1 id="project__name" th:text="${project.getName}"></h1>
            </header>

            <!-- Add/Edit Project Form -->
            <form id="project-form__form" class="flex-column" th:action="@{/projects/edit/${project.getId}}" th:method="post">
                <label for="project-form__name-field">Project Name *</label>
                <input type="text" id="project-form__name-field" class="edit-input" name="projectName" th:placeholder="${project.getName}" th:value="${project.getName}" required>

                <label for="project-form__description-field">Project Description</label>
                <textarea id="project-form__description-field" class="edit-input" name="projectDescription" th:placeholder="${project.getDescription}" th:value="${project.getDescription}"></textarea>

                <label for="project-form__start-date-field">Project Start Date *</label>
                <input type="date" id="project-form__start-date-field" class="edit-input" name="projectStartDate" onchange="updateMinEndDate()" th:placeholder="${project.getStartDate}" th:value="${project.getStartDate}" required>

                <label for="project-form__end-date-field">Project End Date *</label>
                <input type="date" id="project-form__end-date-field" class="edit-input" name="projectEndDate" th:placeholder="${project.getEndDate}" th:value="${project.getEndDate}" required>

                <button type="submit" id="project-form__save">Save Changes</button>
                <a id="project-form__discard" th:href="@{/projects/{id}(id=${project.getId})}">Discard</a>
            </form>
        </div>
    </div>
</body>
</html>