<!DOCTYPE html>
<html lang="en">
  <table class="table table-hover table-active table-sm table__color" th:id="'group_' + ${group.getGroupId} + '_members'">
    <thead>
    <tr class="unselected">
      <th scope="col">User Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${group.getMembers}" onmousedown="copyMembers(this)" onmouseup="pasteMembers(this)" onclick="rowClick(this)" class="unselected">
      <th scope="row" th:text="${member.getId}"></th>
      <td th:text="${member.getFirstName}"></td>
      <td th:text="${member.getLastName}"></td>
    </tr>
    </tbody>
  </table>
</html>