<!DOCTYPE html>
<html lang="en">
<head>
    <title>Groups</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <script th:src="@{webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
    <script th:src="@{scripts/groups.js}"></script>
    <link rel="stylesheet" th:href="@{styles/stylesheet.css}">
    <link rel="stylesheet" th:href="@{styles/groups.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <script th:inline="javascript">
        const CONTEXT = [[${@environment.getProperty('CONTEXT')}]];
    </script>
</head>
<body>
<!-- Import the application's header bar. -->
<header th:replace="fragments/header :: header"></header>
<!-- Import the application's navigation bar. -->
<nav th:replace="fragments/navbar :: navbar"></nav>
<div id="page-content" class="constrict">
    <h1>Groups Page</h1>
    <div class="flex-column">
        <!-- Clear tables button -->
        <a id="clear-all-tables-button" onclick="clearAllTableSelections()" th:if="${userIsTeacher}">Clear all table selections</a>

        <div class="group" th:each="group : *{groups}" th:with="tableDropable=${userIsTeacher && group.getGroupId != GROUPLESS_GROUP_ID && !(group.getGroupId == TEACHER_GROUP_ID && !userIsAdmin)}">
            <div class="group__details-wrapper">
                <h2 class="group__name" th:text="${group.getShortName} + ' - ' + ${group.getLongName}" type="button" data-bs-toggle="collapse" th:data-bs-target="'#group_' + ${group.getGroupId}" aria-expanded="false" th:aria-controls="group_ + ${group.getGroupId}"></h2>
                <div class="group__details collapse" th:id="group_ + ${group.getGroupId}">
                    <h4>Members</h4>
                    <div class="group__members-wrapper">
                        <div class="group__member" th:id="'group_' + ${group.getGroupId} + '_members'" >
                            <table class="table table-active table-sm table__color" th:classappend="${userIsTeacher} ? 'table-hover' : ''" th:id="${group.getGroupId}" th:ondragover="${tableDropable} ? 'allowDrop(event)' : ''" >
                                <thead>
                                <tr class="unselected" th:ondragover="${tableDropable} ? 'allowDrop(event)' : ''" th:ondrop="${tableDropable} ? 'pasteMembers(this)' : ''">
                                    <th scope="col">User Id</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="member : ${group.getMembers}" th:with="rowDraggable=${(userIsTeacher && group.getGroupId != TEACHER_GROUP_ID) || userIsAdmin }" th:id="${!rowDraggable} ? 'no-hover' : ''" th:draggable="${rowDraggable}" th:ondragover="${tableDropable} ? 'allowDrop(event)' : ''" th:onmousedown="${rowDraggable} ? 'copyMembers(this)' : ''" th:onmouseup="${rowDraggable} ? 'rowClick(this)' : ''" th:ondrop="${tableDropable} ? 'pasteMembers(this)' : ''"  class="unselected">
                                    <th scope="row" class="user_id" th:text="${member.getId}"></th>
                                    <td th:text="${member.getFirstName}"></td>
                                    <td th:text="${member.getLastName}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Edit and Delete Group Buttons - Only show if user is a teacher-->
                <div class="group__button-wrapper flex-row" th:if="${userIsTeacher}">
                    <form action="#" th:action="@{editGroup-{id}(id=${group.getGroupId})}" th:method="get">
                        <button type="submit">Edit</button>
                    </form>
                    <form action="#" th:id="'group_' + ${group.getGroupId} + '_delete_button'" th:action="@{editGroup-{id}(id=${group.getGroupId})}" th:number-of-members="${group.getMembers().size()}" th:onSubmit="return confirm('Are you sure you want to delete this group?\nDoing so will remove ' + this.getAttribute('number-of-members') + ' member(s) from the group.\nThis action cannot be undone.')" th:method="delete" >
                        <button type="submit">Delete</button>
                    </form>

                </div>
            </div>
        </div>

        <!-- New Group Button -->
        <a id="new-group-button" th:if="${userIsTeacher}" th:href="@{editGroup-{id}(id=-1)}">New Group</a>
    </div>
</div>



</body>
</html>