<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>
    <link th:href="@{login.css}" rel="stylesheet" >
</head>
<body>
<p th:text="${loginMessage}" />
<div class="container">
    <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        <form th:action="@{/login}" th:object="${loginForm}" method="post">
            <p th:if="${error}" class="error">UserName & Password Incorrect</p>
            <div class="row">

                <input type="text" name="username">
            </div>
            <div class="row">

                <input type="password" name="password">
            </div>
            <div class="row button">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</div>
</body>
</html>