@charset "UTF-8";
h2{
    color: aqua;
    font-weight: bold;
    font-variant: inherit;
}
body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bookman Old Style', cursive;
}

.container{
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}
.wrapper{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper .title{
    height: 90px;
    background: navy;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper form{
    padding: 30px 25px 25px 25px;
}
.wrapper form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}
.wrapper form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}
form .row input:focus{
    border-color: black;
    box-shadow: inset 0 0 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
    color: #999;
}
.wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #16a085;
    border: 1px solid #16a085;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper form .pass{
    margin: -8px 0 20px 0;
}
.wrapper form .pass a{
    color: #16a085;
    font-size: 17px;
    text-decoration: none;
}
.wrapper form .pass a:hover{
    text-decoration: underline;
}
.wrapper form .button input{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0;
    background: navy;
    border: 1px solid #16a085;
    cursor: pointer;
}

p{
    color: red;
}