<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="${project.getName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/planner.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/webjars/fullcalendar/5.10.2/main.css">

    <script th:src="@{/webjars/fullcalendar/5.10.2/main.js}"></script>

<!--    Define some variables that either need to be used in this page or require thymeleaf information-->
    <script type="text/javascript" th:inline="javascript">
        let projectStartDate = [[${project.getStartDateCalendarString}]]
        let projectEndDate = [[${project.getEndDateCalendarString}]]
        let dayAfterProjectEndDate = [[${project.getDayAfterEndDateCalendarString}]]
        let projectName = [[${project.getName}]]
        let sprints = [];
        let sprintEventColours = ["#d4b9f0", "#a7e2f5"]
    </script>

<!--    Save sprint information so it can be accessed by the calendar-->
    <script type="text/javascript" th:inline="javascript" th:each="sprint, iterInfo: ${sprints}">
        sprint = {id: [[${sprint.getId}]],
            title: [[${sprint.getLabel}]],
            start: [[${sprint.getStartDateCalendarString}]],
            end: [[${sprint.getDayAfterEndDateCalendarString}]],
            // Set colour of the sprint. Repeats colours in the list specified above
            color: sprintEventColours[ [[${iterInfo.index}]] % sprintEventColours.length]
            // LEAVE SPACE HERE!!!    ^ WILL BREAK PROGRAM IF REMOVED
        }
        sprints.push(sprint);
    </script>
    <script rel="script" src="/scripts/planner.js"></script>



</head>
<body>
<!-- Import the application's navigation bar. -->
<nav th:replace="fragments/navbar :: navbar"></nav>

<div id="page-content" class="page__content">
    <!-- Populate the following div with projects and their details. -->
    <div class="header">
        <div class="title">
            <p class="title-name" th:text="${project.getName}"></p>
            <p class="title-date" th:text="${project.getStartDateString} + ' - ' + ${project.getEndDateString}"></p>
        </div>
    </div>
    <div class="calendar__container">
        <div id='calendar'></div>
    </div>
</div>

</body>
</html>