<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{styles/stylesheet.css}">
    <link rel="stylesheet" th:href="@{styles/portfolio.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <title>Portfolio</title>
</head>

<body>
<!-- Import the application's header bar. -->
<header th:replace="fragments/header :: header"></header>
<!-- Import the application's navigation bar. -->
<nav th:replace="fragments/navbar :: navbar"></nav>

<div id="page-content" class="constrict">
    <div class="container">
        Hello World!
        <p th:text="(${owner} ? 'Your portfolio' : 'Not your portfolio')"></p>
        <a class="btn btn-fill-tertiary" th:href="@{${owner} ? 'profile' : 'profile-' + ${pageUser.id}}">Profile</a>
    </div>
</div>
</body>
</html>
