<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Uno-Reverse</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${module == 'home' ? 'active' : ''}">
                    <a th:href="@{/menu}">Home</a>
                </li>
                <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                    <a th:href="@{/profile}">Profile</a>
                </li>
            </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a th:href="@{/login}">
                                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                                </a>
                                <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/login}"></form>
                            </li>
                        </ul>
        </div>
    </div>
</div>
<div class="UserProfile py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div style="height: 100px"></div>
                <div class="card shadow-sm">
                    <div class="card-header bg-transparent text-center">
                        <img th:src="@{/images/GenericUserIcon.jpg}"  alt="profilePhoto">
                        <h3> <span th:text="${name}" th:remove="tag">title</span></h3>
                    </div>
                    <div class="card-body">
                        <p class="mb-0"><strong class="pr-1">Nickname </strong>  <p th:text="${user.nickname}" /> </p>
                        <p class="mb-0"><strong class="pr-1">Username </strong>  <p th:text="${user.username}" /> </p>
                        <p class="mb-0"><strong class="pr-1">Pronouns </strong> <p th:text="${user.personalPronouns}" /> </p>
                        <p class="mb-0"><strong class="pr-1">Email </strong>  <p th:text="${user.email}" /> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div style="height: 120px"></div>
                <div class="card shadow-sm">
                    <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0"> Bio</h3>
                    </div>
                    <div class="card-body pt-0">
                        <p th:text="${user.bio}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>