 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
    <header th:replace="fragments/header :: header"> </header>
    <nav th:replace="fragments/navigationBar :: nav"></nav>

    <div id="page-content" class="constrict">
        <div class="container">
            <div class="profile_pic__row">
                <img th:src="@{/GenericUserIcon.jpg}" alt="profilePhoto">
                <h3> <span th:text="${name}" th:remove="tag">title</span></h3>
            </div>

<div class="UserProfile">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div style="height: 100px"></div>
                <div class="card shadow-sm">
                    <div class="card-header bg-transparent text-center">
                        <img th:src="@{/GenericUserIcon.jpg}"  width="50px" alt="profilePhoto">
                        <h3> <span th:text="${name}" th:remove="tag">title</span></h3>
                    </div>
                    <div class="card-body">
                        <p class="mb-0"><strong class="pr-1">Nickname </strong>  <p th:text="${user.nickname}" /> </p>
                        <p class="mb-0"><strong class="pr-1">Username </strong>  <p th:text="${user.username}" /> </p>
                        <p class="mb-0"><strong class="pr-1">Pronouns </strong> <p th:text="${user.personalPronouns}" /> </p>
                        <p class="mb-0"><strong class="pr-1">Email </strong>  <p th:text="${user.email}" /> </p>
                        <p class="mb-0"><strong class="pr-1">Date of Registration </strong>  <p th:text="${date}" /> </p>
                        <p class="mb=0"><strong class="pr-1">Bio</strong><p th:text="${user.bio}" /> </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
