<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Projects</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/css/projects.css">
</head>

<body>
    <!-- The application's navigation bar. -->
    <nav id="site-navigation">
        <ul class="site-navigation__list">
            <li class="site-navigation__item">
                <h5>
                    <a href="/" class="site-navigation__link">Home</a>
                </h5>
            </li>
            <li class="site-navigation__item">
                <h5>
                    <a href="./projects" class="site-navigation__link active">Projects</a>
                </h5>
            </li>
        </ul>
    </nav>

    <!-- Page content -->
    <div id="page-content">
        <!-- Populate the following div with projects and their details. -->
        <div id="project-wrapper" class="flex-column">

            <!-- Project -->
            <div class="project" th:each="project: ${projects}">
                <!-- Project Details -->
                <h2 class="project__name" th:text="${project.project_name}"></h2>
                <div class="project__date-wrapper flex-row">
                    <h4 class="project__date" th:text="${project.start_date}"></h4>
                    <h4>&nbsp;--->&nbsp;</h4>
                    <h4 class="project__date" th:text="${project.end_date}"></h4>
                </div>
                <p class="project__description" th:text="${project.description}"></p>

                <!-- Edit and delete project buttons -->
                <div class="project__button-wrapper flex-row">
                    <button class="project__edit">Edit</button>
                    <form action="#" th:action="@{/deleteProject/{id}(id=${project.project_id})}" th:method="delete" >
                        <button class="project__delete" type="submit" id="submitButton">Delete</button>
                    </form>
<!--                    <button class="project__delete" th:href="${/deleteProject/{id}(id=${project.project_id})}">Delete</button>-->
                </div>
            </div>

            <!-- New Project Button -->
            <button id="new-project-button">New Project</button>

        </div>
    </div>
</body>

</html>