<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Projects</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/projectSummaries.css">
    <script rel="script" src="/scripts/projectSummaries.js"></script>
</head>

<body>
    <!-- Import the application's navigation bar. -->
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <!-- A pop-up form for adding/editing projects -->
    <div id="add-edit__popup" class="hidden">
        <!-- Background page overlay -->
        <div id="add-edit__overlay"></div>

        <!-- Form -->
        <form id="add-edit__form" th:action="@{/projects}" class="form-container" th:method="post">
            <input type="hidden" id="add-edit__project-id" name="projectId"/>

            <div id="add-edit__title"></div>
            <label for="add-edit__name-field"><b>Project Name</b></label>
            <input type="text" id="add-edit__name-field" class="edit-input" name="projectName" required>

            <label for="add-edit__description-field"><b>Project Description</b></label>
            <textarea id="add-edit__description-field" class="edit-input" name="projectDescription"></textarea>

            <label for="add-edit__start-date-field"><b>Project Start Date</b></label>
            <input type="date" id="add-edit__start-date-field" class="edit-input" name="projectStartDate" onchange="updateMinEndDate()" required>

            <label for="add-edit__end-date-field"><b>Project End Date</b></label>
            <input type="date" id="add-edit__end-date-field" class="edit-input" name="projectEndDate" required>

            <button type="submit" id="add-edit__save">Save Changes</button>
            <button id="add-edit__discard" onclick="return closeAddEditForm()">Discard</button>
        </form>
    </div>

    <!-- Page content -->
    <div id="page-content">
        <!-- Populate the following div with projects and their details. -->
        <div id="project-wrapper" class="flex-column">

            <!-- Project -->
            <div class="project collapsed" th:each="project : ${projects}">

                <!-- Project Details -->
                <div class="project__details-wrapper">
                    <!-- Project Title -->
                    <h2 class="project__name" th:text="${project.getName}"></h2>

                    <div class="project__details">
                        <div class="project__date-wrapper flex-row">
                            <h4 class="project__date" th:text="|${project.getStartDateString} ---> ${project.getEndDateString}|"></h4>
                        </div>
                        <p class="project__description" th:text="${project.getDescription}"></p>
                    </div>
                </div>

                <!-- Project Sprints -->
                <div class="project__sprints-wrapper flex-column">
                    <div class="sprint collapsed" th:each="sprint : ${sprints.get(project.getId)}">
                        <h3 class="sprint__name" th:text="|${sprint.getName} - ${sprint.getLabel}|"></h3>

                        <div class="sprint__details">
                            <h4 class="sprint__date" th:text="|${sprint.getStartDateString} ---> ${sprint.getEndDateString}|"></h4>
                            <p class="sprint__description" th:text="${sprint.getDescription}"></p>
                        </div>
                    </div>
                </div>

                <!-- Edit and delete project buttons -->
                <div class="project__button-wrapper flex-row">
                    <button class="project__edit" th:onclick="editProject([[${project.getId}]], [[${project.getName}]], [[${project.getDescription}]], [[${project.getStartDate}]], [[${project.getEndDate}]])">Edit</button>

                    <form action="#" th:action="@{/projects(id=${project.getId})}" onSubmit="return confirm('Are you sure you want to delete this project?\nThis action cannot be undone.') " th:method="delete" >
                        <button type="submit">Delete</button>
                    </form>

                    <form action="#" th:action="@{/projects/{id}(id=${project.getId})}" th:method="get" >
                        <button type="submit">View</button>
                    </form>
                </div>

            </div>

            <!-- New Project Button -->
            <button id="new-project-button" onclick="addProject()">New Project</button>

        </div>
    </div>
</body>

</html>