<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Projects</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/css/projects.css">
</head>

<body>
    <!-- The application's navigation bar. -->
    <nav id="site-navigation">
        <ul class="site-navigation__list">
            <li class="site-navigation__item">
                <h5>
                    <a href="/" class="site-navigation__link">Home</a>
                </h5>
            </li>
            <li class="site-navigation__item">
                <h5>
                    <a href="./projects" class="site-navigation__link">Projects</a>
                </h5>
            </li>
        </ul>
    </nav>

    <!-- Page content -->
    <div id="page-content">
        <header>
            <h1 id="page-title">Projects</h1>
        </header>

        <!-- Populate the following div with projects and their details. -->
        <div id="project-wrapper" class="flex-column">
            <!-- NOTE: Remove the following example projects from source when populating with real projects. -->
            <div class="project">
                <h2 class="project__name">Project 1</h2>
                <h4 class="project__date">Start Date: </h4>
                <h4 class="project__date">End Date: </h4>
                <p class="project__description">Project description should go here.</p>
            </div>

            <div class="project">
                <h2 class="project__name">Project 2</h2>
                <h4 class="project__date">Start Date: </h4>
                <h4 class="project__date">End Date: </h4>
                <p class="project__description">Project description should go here.</p>
            </div>
        </div>

    </div>
</body>

</html>