<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Projects</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <!-- The application's navigation bar. -->
    <nav>
        <a href="/">Home</a>
        <a href="./projects">Projects</a>
    </nav>

    <!-- Page content -->
    <div>
        <h1>Projects</h1>

        <!-- Populate the following div with projects and their details. -->
        <div>
            <!-- NOTE: Remove the following example projects from source when populating with real projects. -->
            <div>
                <h2>Project 1</h2>
                <h4>Start Date: </h4>
                <h4>End Date: </h4>
                <p>Project description should go here.</p>
            </div>

            <div>
                <h2>Project 2</h2>
                <h4>Start Date: </h4>
                <h4>End Date: </h4>
                <p>Project description should go here.</p>
            </div>
        </div>

    </div>
</body>

</html>