<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link th:href="@{/styles/registerPage.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <!--Link designed as button will take the user back to login-->
        <a th:href="@{/login}" class="button">Back</a>

        <div class="wrapper">
            <h1>Sign Up</h1>
            <h2>Please enter your details below</h2>
        </div>

        <!-- error message received from the controller-->
        <p th:text="${registerMessage}"></p>
        <p th:text="${errorMessage}"></p>
        <p th:text="${loginMessage}"></p>

        <!-- form posts the params to the register controller-->
        <form th:action="@{/register}"  method="post">

            <div>
                <label>Account Details *</label><br>
                <input type="text" th:name="username" th:value="${username} ?: ''" minlength="1" maxlength="64" required placeholder="Username (*)" class="required" /><label class="helper" >*User name, must be unique</label><br>
                <th:block th:each="usernameError: ${usernameErrors}">
                    <p th:text="${usernameError}" style="margin:0"></p>
                </th:block>
                <input type="email" th:name="email" th:value="${email} ?: ''" minlength="1" maxlength="255" required placeholder="Email (*)" class="required" /><label class="helper" >*Email, must include '@'</label><br>
                <th:block th:each="emailError: ${emailErrors}">
                    <p th:text="${emailError}" style="margin:0"></p>
                </th:block>
                <input type="password" th:name="password" minlength="8" maxlength="64" required placeholder="Password (*)" class="required" /><label class="helper" >*Password, must be at least 8 characters</label><br>

                <br>
                <div th:each="passwordError: ${passwordErrors}">
                    <p th:text="${passwordError}" style="margin:0"></p>
                </div>
                <label>Full Name *</label><br>
                <input type="text" th:name="firstName" th:value="${firstName} ?: ''" minlength="1" maxlength="64" required placeholder="First Name (*)" class="required" /><label class="helper" >*First Name</label><br>
                <th:block th:each="firstNameError: ${firstNameErrors}">
                    <p th:text="${firstNameError}" style="margin:0"></p>
                </th:block>
                <input type="text" th:name="middleName" th:value="${middleName} ?: ''" minlength="1" maxlength="64"  placeholder="Middle Name" class="helper" /><label class="helper" >Middle Name</label><br>
                <th:block th:each="middleNameError: ${middleNameErrors}">
                    <p th:text="${middleNameError}" style="margin:0"></p>
                </th:block>
                <input type="text" th:name="lastName" th:value="${lastName} ?: ''" minlength="1" maxlength="64" required placeholder="Last Name (*)" class="required" /><label class="helper" >*Last Name</label><br>
                <th:block th:each="lastNameError: ${lastNameErrors}">
                    <p th:text="${lastNameError}" style="margin:0"></p>
                </th:block>
                <br>
                <label>Person Details</label><br>
                <input type="text" th:name="nickname" th:value="${nickname} ?: ''" maxlength="64" placeholder="Nickname"/><label class="helper">Nickname</label><br>
                <th:block th:each="nicknameError: ${nicknameErrors}">
                    <p th:text="${nicknameError}" style="margin:0"></p>
                </th:block>
                <input type="text" th:name="pronouns" th:value="${pronouns} ?: ''" maxlength="64" placeholder="Preferred Pronouns" /><label class="helper">Preferred Pronouns</label><br>
                <th:block th:each="pronounsError: ${pronounsErrors}">
                    <p th:text="${pronounsError}" style="margin:0"></p>
                </th:block>
                <br>
                <label>Bio</label><label class="helper"></label><br>
                <textarea th:name="bio" th:text="${bio} ?: ''" maxlength="1024" placeholder=""></textarea>
                <th:block th:each="bioError: ${bioErrors}">
                    <p th:text="${bioError}" style="margin:0"></p>
                </th:block>
                <br><br>

                <input class="button" type="submit" value="Submit" />
            </div>
        </form>

    </div>
</body>
</html>
