<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Projects</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/projectSummaries.css">
    <script rel="script" src="/scripts/projectSummaries.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
</head>

<body>
    <!-- Import the application's header bar. -->
    <header th:replace="fragments/header :: header"></header>
    <!-- Import the application's navigation bar. -->
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <!-- Page content -->
    <div id="page-content" class="constrict">
        <!-- Populate the following div with projects and their details. -->
        <div id="project-wrapper" class="flex-column">

            <!-- Project -->
            <div class="project collapsed" th:each="project : ${projects}">

                <!-- Project Details -->
                <div class="project__details-wrapper">
                    <!-- Project Title -->
                    <h2 class="project__name" th:text="${project.getName}"></h2>

                    <div class="project__details">
                        <div class="project__date-wrapper flex-row">
                            <h4 class="project__date" th:text="|${project.getStartDateString} ---> ${project.getEndDateString}|"></h4>
                        </div>
                        <p class="project__description" th:text="${project.getDescription}"></p>
                    </div>
                </div>

                <!-- Project Sprints -->
                <div class="project__sprints-wrapper flex-column">
                    <div class="sprint collapsed" th:each="sprint : ${sprints.get(project.getId)}">
                        <h3 class="sprint__name" th:text="|${sprint.getLabel} - ${sprint.getName}|"></h3>

                        <div class="sprint__details">
                            <h4 class="sprint__date" th:text="|${sprint.getStartDateString} ---> ${sprint.getEndDateString}|"></h4>
                            <p class="sprint__description" th:text="${sprint.getDescription}"></p>
                        </div>
                    </div>
                </div>

                <!-- Edit and delete project buttons -->
                <div class="project__button-wrapper flex-row">
                    <form action="#" th:action="@{/projects/edit/{id}(id=${project.getId})}" th:method="get">
                        <button type="submit">Edit</button>
                    </form>

                    <form action="#" th:action="@{/projects/delete/{id}(id=${project.getId})}" onSubmit="return confirm('Are you sure you want to delete this project?\nThis action cannot be undone.')" th:method="delete" >
                        <button type="submit">Delete</button>
                    </form>

                    <form action="#" th:action="@{/projects/{id}(id=${project.getId})}" th:method="get">
                        <button type="submit">View</button>
                    </form>

                    <form action="#" th:action="@{/planner/{id}(id=${project.getId})}" th:method="get">
                        <button type="submit">Planner</button>
                    </form>
                </div>

            </div>

            <!-- New Project Button -->
            <a id="new-project-button" th:href="@{/projects/edit/-1}">New Project</a>

        </div>
    </div>
</body>

</html>