<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title th:text="${project.getName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/projectDetails.css">
    <script rel="script" src="/scripts/projects.js"></script>
</head>

<body>

<!-- Import the application's navigation bar. -->
<nav th:replace="fragments/navbar :: navbar"></nav>

<!--&lt;!&ndash; A pop-up form for adding/editing projects &ndash;&gt;-->
<!--<div id="add-edit__popup" class="hidden">-->
<!--    &lt;!&ndash; Background page overlay &ndash;&gt;-->
<!--    <div id="add-edit__overlay"></div>-->

<!--    &lt;!&ndash; Form &ndash;&gt;-->
<!--    <form id="add-edit__form" th:action="@{/projects}" class="form-container" th:method="post">-->
<!--        <input type="hidden" id="add-edit__project-id" name="projectId"/>-->
<!--        <input type="hidden" id="add-edit__earliest-date-allowed"/>-->

<!--        <h1>Edit Project</h1>-->
<!--        <label for="add-edit__name-field"><b>Project Name</b></label>-->
<!--        <input type="text" id="add-edit__name-field" class="edit-input" name="projectName" required>-->

<!--        <label for="add-edit__description-field"><b>Project Description</b></label>-->
<!--        <textarea id="add-edit__description-field" class="edit-input" name="projectDescription"></textarea>-->

<!--        <label for="add-edit__start-date-field"><b>Project Start Date</b></label>-->
<!--        <input type="date" id="add-edit__start-date-field" class="edit-input" name="projectStartDate" onchange="updateMinEndDate()" required>-->

<!--        <label for="add-edit__end-date-field"><b>Project End Date</b></label>-->
<!--        <input type="date" id="add-edit__end-date-field" class="edit-input" name="projectEndDate" required>-->

<!--        <button type="submit" id="add-edit__save">Save Changes</button>-->
<!--        <button id="add-edit__discard" onclick="return closeAddEditForm()">Discard</button>-->
<!--    </form>-->
<!--</div>-->

<!-- Page content -->
<div id="page-content">

    <!-- Project -->
    <div id="project">

        <!-- Name, Date -->
        <header class="flex-column">
            <h1 id="project__name" th:text="${project.getName}"></h1>
            <h2 id="project__date" th:text="|${project.getStartDateString} - ${project.getEndDateString}|"></h2>
        </header>

        <!-- Edit/Delete Project Buttons -->
        <div class="project__button-wrapper flex-row">
            <button th:onclick="editProject([[${project.getId}]], [[${project.getName}]], [[${project.getDescription}]], [[${project.getStartDate}]], [[${project.getEndDate}]])">Edit</button>

            <form action="#" th:action="@{/projects(id=${project.getId})}" onSubmit="return confirm('Are you sure you want to delete this project?\nThis action cannot be undone.') " th:method="delete">
                <button type="submit">Delete</button>
            </form>
        </div>

        <!-- Description -->
        <p id="project__description" th:text="${project.getDescription()}"></p>

    </div>

    <!-- Project Sprints -->
    <div id="project__sprints-wrapper flex-column">
        <div class="sprint" th:each="sprint : ${sprints}">
            <h2 class="sprint__name" th:text="|${sprint.getName} - ${sprint.getLabel}|"></h2>

            <!-- Edit/Delete Sprint Buttons -->
            <div class="sprint__button-wrapper flex-row">
                <button th:onclick="editSprint(...)">Edit</button>
                <button>Delete</button>
            </div>

            <!-- Sprint Details -->
            <div class="sprint__details">
                <h4 class="sprint__date" th:text="|${sprint.getStartDateString} ---> ${sprint.getEndDateString}|"></h4>
                <p class="sprint__description" th:text="${sprint.getDescription}"></p>
            </div>
        </div>

        <!-- New Sprint Button -->
        <button id="new-sprint-button" onclick="addSprint()">New Sprint</button>
    </div>

</div>
</body>

</html>