<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title th:text="${project.getName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{styles/stylesheet.css}">
    <link rel="stylesheet" th:href="@{styles/projectDetails.css}">
    <script rel="script" th:src="@{scripts/projectDetails.js}"></script>
</head>

<body>
<!-- Import the application's header bar. -->
<header th:replace="fragments/header :: header"></header>
<!-- Import the application's navigation bar. -->
<nav th:replace="fragments/navbar :: navbar"></nav>

<!-- Page content -->
<div id="page-content" class="constrict">
    <!-- Project -->
    <div id="project">
        <!-- Name, Date -->
        <header class="project__header flex-column">
            <h1 id="project__name" th:text="${project.getName}"></h1>
            <h2 id="project__date" th:text="|${project.getStartDateString} - ${project.getEndDateString}|"></h2>
        </header>
        <!-- Planner Button -->
        <div class="project__button-wrapper flex-row">
            <form action="#" th:action="@{planner-{id}(id=${project.getId})}" th:method="get">
                <button type="submit">Planner</button>
            </form>
        </div>
        <!-- Description -->
        <p id="project__description" th:text="${project.getDescription()}"></p>
    </div>

    <!-- Project Sprints -->
    <div id="project__sprints-wrapper flex-column">
        <div th:each="importantDate : ${importantDates}">
            <div class="sprint" th:if="${importantDate.getSecond() == 'Sprint'}">
                <h2 class="sprint__name" th:style="'color : ' + ${sprintList.get(importantDate.getFirst()).getColour()}" th:text="|${sprintList.get(importantDate.getFirst()).getLabel} - ${sprintList.get(importantDate.getFirst()).getName}|"></h2>

                <!-- Sprint Details -->
                <div class="sprint__details" th:style="'color : ' + ${sprintList.get(importantDate.getFirst()).getColour()}">
                    <h4 class="sprint__date" th:text="|${sprintList.get(importantDate.getFirst()).getStartDateString} ---> ${sprintList.get(importantDate.getFirst()).getEndDateString}|"></h4>
                    <p class="sprint__description" th:text="${sprintList.get(importantDate.getFirst()).getDescription}"></p>
                </div>

                <div class="event__details flex-row" th:each="event : ${sprintList.get(importantDate.getFirst()).getEventsInside}">
                    <div class="flex-row">
                        <div class="event">
                            <h2 class="event__name" th:text="${eventList.get(event).getEventName} + '&#9733;'"></h2>
                            <!-- Sprint Details -->
                            <div class="event__details flex-row" >
                                <h4 class="event__date" th:style="'color : ' + ${eventList.get(event).getColourStart()}" th:text="${eventList.get(event).getStartDateString()}"></h4>
                                <h4 class="event__date" th:style="'color : ' + ${eventList.get(event).getColourStart()}"> ---> </h4>
                                <h4 class="event__date" th:style="'color : ' + ${eventList.get(event).getColourEnd()}" th:text="${eventList.get(event).getEndDateString()}"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event__outside" th:if="${importantDate.getSecond() == 'Event'}">
                <h2 class="event__name" th:text="${eventList.get(importantDate.getFirst()).getEventName} + '&#9733;'"></h2>
                <div class="event__details flex-row" >
                    <h4 class="event__date" th:style="'color : ' + ${eventList.get(importantDate.getFirst()).getColourStart()}" th:text="${eventList.get(importantDate.getFirst()).getStartDateString()}"></h4>
                    <h4 class="event__date" th:style="'color : ' + ${eventList.get(importantDate.getFirst()).getColourStart()}"> ---> </h4>
                    <h4 class="event__date" th:style="'color : ' + ${eventList.get(importantDate.getFirst()).getColourEnd()}" th:text="${eventList.get(importantDate.getFirst()).getEndDateString()}"></h4>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>