<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Projects</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/projects.css">
    <script rel="script" src="/scripts/projects.js"></script>
</head>

<body>
<!-- Import the application's navigation bar. -->
<nav th:replace="fragments/navbar :: navbar"></nav>

<!-- Page content -->
<div id="page-content">
    <!-- Populate the following div with projects and their details. -->
    <div id="project-wrapper" class="flex-column">

        <!-- Project -->
        <div class="project collapsed" th:each="project : ${projects}">
            <!-- Project Title -->
            <h2 class="project__name" th:text="${project.getName}"></h2>

            <!-- Edit and delete project buttons -->
            <div class="project__button-wrapper flex-row">
                <form action="#" th:action="@{/projects/{id}(id=${project.getId})}" th:method="get" >
                    <button type="submit">View</button>
                </form>
            </div>

            <div class="project__details">
                <!-- Project Details -->
                <div class="project__date-wrapper flex-row">
                    <h4 class="project__date" th:text="${project.getStartDateString}"></h4>
                    <h4>&nbsp;--->&nbsp;</h4>
                    <h4 class="project__date" th:text="${project.getEndDateString}"></h4>
                </div>
                <p class="project__description" th:text="${project.getDescription}"></p>
            </div>
        </div>
    </div>
</div>
</body>

</html>