<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Users</title>
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/userList.css">
</head>
<body>
<!-- Import the application's header bar. -->
<header th:replace="fragments/header :: header"></header>
<!-- Import the application's navigation bar. -->
<nav th:replace="fragments/navbar :: navbar"></nav>
<!-- Page content -->
<div id="page-content" class="constrict">
    <div class="pagination">
        <a th:href="'/userList/' + ${firstPage}">&laquo;</a>
        <a th:href="'/userList/' + ${previousPage}">&lt;</a>
        <div th:text="${currentPage} +  ' / ' + ${lastPage}"></div>
        <a th:href="'/userList/' + ${nextPage}">&gt;</a>
        <a th:href="'/userList/' + ${lastPage}">&raquo;</a>
    </div>
    <table>
        <thead>
            <tr>
                <th> Name </th>
                <th> Username </th>
                <th> Alias </th>
                <th> Roles </th>
            </tr>
        </thead>
        <tbody>
            <div th:each="listedUser : ${users}">
                <tr>
                    <td><span th:text="${listedUser.fullName}"> Name </span></td>
                    <td><span th:text="${listedUser.username}"> Username </span></td>
                    <td><span th:text="${listedUser.nickname}"> Alias </span></td>
                    <td><div th:each="role: ${listedUser.roleStrings}"><div id="role-button" th:text="${role}"> Role </div></div></td>
                </tr>
            </div>
        </tbody>
    </table>
</div>
</body>
</html>