<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title th:text="${project.getName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{styles/stylesheet.css}">
    <link rel="stylesheet" th:href="@{styles/projectDetails.css}">
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
  <script th:src="@{webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</head>

<body>
<!-- Import the application's header bar. -->
<header th:replace="fragments/header :: header"></header>
<!-- Import the application's navigation bar. -->
<nav th:replace="fragments/navbar :: navbar"></nav>

<!-- Page content -->
<div id="page-content" class="constrict">
    <!-- Project -->
    <div id="project">
        <!-- Name, Date -->
        <header class="project__header flex-column">
            <h1 id="project__name" th:text="${project.getName}"></h1>
            <h2 id="project__date" th:text="|${project.getStartDateString} - ${project.getEndDateString}|"></h2>
        </header>
        <!-- Planner Button -->
        <div class="project__button-wrapper flex-row">
            <form action="#" th:action="@{planner-{id}(id=${project.getId})}" th:method="get">
                <button type="submit">Planner</button>
            </form>
        </div>
        <!-- Description -->
        <p id="project__description" th:text="${project.getDescription()}"></p>
    </div>
  <div>
    <nav>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0">
        <span>Sprints</span>
      </button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1">
        <span>Events</span>
      </button>
    </nav>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-interval="false" data-bs-ride="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div th:replace="fragments/studentSprints"></div>
      </div>
      <div class="carousel-item">
        <div th:replace="fragments/eventsStudent"></div>
      </div>
    </div>
  </div>

</div>
</body>

</html>