<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Project</title>
    <link th:href="@{styles/stylesheet.css}" rel="stylesheet" />
    <link th:href="@{styles/project/addEditProject.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <script th:inline="javascript">
        let restrictedStartDate
        let restrictedEndDate
        if ([[${dateRestrictions.hasRestrictions}]]) {
            restrictedStartDate = new Date([[${dateRestrictions.startDate}]])
            restrictedEndDate = new Date([[${dateRestrictions.endDate}]])
        } else {
            restrictedStartDate = null
            restrictedEndDate = null
        }
    </script>
</head>
<body>
    <!-- Import the application's header bar. -->
    <header th:replace="fragments/header :: header"></header>
    <!-- Import the application's navigation bar. -->
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <!-- Page content -->
    <div id="page-content" class="constrict">
        <div id="projectId" style="display: none;" th:text="${projectId}"></div>
        <div id="nameOfEdited" style="display: none;" th:text="${projectName}"></div>
        <div id="project-form__wrapper">
            <!-- Name, Date -->
            <header class="project-form__header flex-column">
                <h1 id="project__name" th:text="${projectName}"></h1>
            </header>

            <!-- Add/Edit Project Form -->
            <form id="project-form__form" class="flex-column" th:action="@{editProject-{id}(id=${projectId})}" th:method="post">
                <label for="project-form__name-field">Project Name *</label>
                <input type="text" id="project-form__name-field" class="edit-input" name="projectName" minlength="1" maxlength="64" th:placeholder="${projectName}" th:value="${projectName}" title="Cannot be blank and must not contain special characters" required th:pattern="${titlePattern}">

                <label for="project-form__description-field">Project Description</label>
                <textarea id="project-form__description-field" class="edit-input" name="projectDescription" maxlength="255" th:placeholder="${projectDescription}" th:text="${projectDescription}"></textarea>

                <label for="project-form__start-date-field">Project Start Date *
                    <span th:if="${dateRestrictions.hasRestrictions}" data-toggle="tooltip"
                          data-placement="right" data-html=true class="bi bi-question-circle-fill"
                          th:attr="title='Project start date is restricted by ' + ${dateRestrictions.startDateText}
                          + ' and cannot be moved beyond it'">
                </span></label>

                <input type="date" id="project-form__start-date-field" class="edit-input" name="projectStartDate" th:placeholder="${projectStartDateString}" th:value="${projectStartDateString}" th:min="${minProjectStartDate}" onchange="updateMinEndDate()" required>

                <label for="project-form__end-date-field">Project End Date *
                    <span th:if="${dateRestrictions.hasRestrictions}" data-toggle="tooltip"
                          data-placement="right" data-html=true class="bi bi-question-circle-fill"
                          th:attr="title='Project end date is restricted by ' + ${dateRestrictions.endDateText}
                          + ' and cannot be moved beyond it'">
                </span></label>
                <input type="date" id="project-form__end-date-field" class="edit-input" name="projectEndDate" th:placeholder="${projectEndDateString}" th:value="${projectEndDateString}" th:max="${maxProjectEndDate}" onchange="updateMaxStartDate()" required>

                <button type="submit" id="project-form__save">Save Changes</button>
                <a id="project-form__discard" th:href="@{projects}">Discard</a>
            </form>
        </div>
    </div>
    <script rel="script" th:src="@{scripts/addEditProject.js}"></script>
    <script rel="script" th:src="@{scripts/sendProjectEditNotifications.js}"></script>
</body>
</html>