<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Edit Deadline</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{styles/stylesheet.css}" rel="stylesheet" />
    <link th:href="@{styles/addEditDeadline.css}" rel="stylesheet" />
    <link th:href="@{styles/addEditImportantDate.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
</head>

<body>
<!-- Import the application's header bar. -->
<header th:replace="fragments/header :: header"></header>
<!-- Import the application's navigation bar. -->
<nav th:replace="fragments/navbar :: navbar"></nav>

<!-- Page content -->
<div id="page-content" class="constrict">
  <div id="projectId" style="display: none;" th:text="${projectId}"></div>
  <div id="nameOfEdited" style="display: none;" th:text="${deadlineName}"></div>
    <div id="form__wrapper">

        <header class="form__header flex-column">
            <div th:if="${deadlineId == '-1'}">
                <h1> Create New Deadline</h1>
            </div>
            <div th:if="${deadlineId != '-1'}">
            <h1 th:text="'Editing: ' + ${deadline.deadlineName}"></h1>
            </div>
        </header>

        <!-- Add/Edit Deadline Form -->
        <form id="form__body" class="flex-column" th:action="@{editDeadline-{deadline}-{project}(project=${parentProjectId}, deadline=${deadlineId})}" th:method="post">
            <label for="form__name-field">Name *</label>

            <input type="text" id="form__name-field" class="edit-input" name="deadlineName" maxlength="30" placeholder="Deadline name" th:value="${deadline.deadlineName}" th:pattern="${titlePattern}" required title="Deadline Name must not be blank, and must not contain special chars" onkeyup="countCharacters()">
            <span id="char_count">30/30 characters remain</span>

            <label for="form__date-field">Date *</label>
            <input type="datetime-local" id="form__date-field" class="edit-input" name="deadlineDate" th:placeholder="${deadlineDate}" th:value="${deadlineDate}" th:min="${minDeadlineDate}" th:max="${maxDeadlineDate}" required>
            <button type="submit" class="form__button">Save Changes</button>
            <a class="form__button" th:href="@{projectDetails-{project}(project=${projectId})}">Discard</a>
        </form>
    </div>
</div>
<script rel="script" th:src="@{scripts/addEditDeadlines.js}"></script>
<script rel="script" th:src="@{scripts/sendProjectEditNotifications.js}"></script>
</body>
</html>