<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${project.getName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{styles/stylesheet.css}">
    <link rel="stylesheet" th:href="@{styles/project/planner.css}">
    <link rel="stylesheet" th:href="@{styles/project/projectDetails.css}"/>
    <link rel="stylesheet" th:href="@{webjars/fullcalendar/5.10.2/main.css}">
    <script th:src="@{webjars/fullcalendar/5.10.2/main.js}"></script>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">

    <!-- Define some variables that either need to be used in this page or require thymeleaf information -->
    <script type="text/javascript" th:inline="javascript">
        let projectStartDate = [[${project.getStartDateCalendarString}]]
        let projectEndDate = [[${project.getEndDateCalendarString}]]
        let dayAfterProjectEndDate = [[${project.getDayAfterEndDateCalendarString}]]
        let projectName = [[${project.getName}]]
        let projectId = [[${project.getId}]]
        let sprints = [];
        let events = [];
        let paginationDate = [[${recentUpdate}]];
        let sprintEventColours = ["#d4b9f0", "#a7e2f5"]
    </script>

    <!-- Save sprint information, so it can be accessed by the calendar -->
    <script type="text/javascript" th:inline="javascript" th:each="sprint, iterInfo: ${sprints}">
        sprint = {
            id: [[${sprint.getId}]],
            title: [[${sprint.getLabel}]],
            eventType: 'Sprint',
            start: [[${sprint.getStartDateCalendarString}]],
            end: [[${sprint.getDayAfterEndDateCalendarString}]],
            // Set colour of the sprint. Repeats colours in the list specified above
            color: sprintEventColours[ [[${iterInfo.index}]] % sprintEventColours.length]
            // LEAVE SPACE HERE!!!    ^ WILL BREAK PROGRAM IF REMOVED
        }
        sprints.push(sprint);
    </script>

    <!-- Save deadline information, so it can be accessed by the calendar for deadline icons -->
    <script type="text/javascript" th:inline="javascript" th:each="deadline, iterInfo: ${deadlines}">
        tempDeadline = {
            id: [[${deadline.value.getId}]],
            title: [[${deadline.value.getNumberOfEvents}]],
            eventType: [[${deadline.value.getType}]],
            start: [[${deadline.value.getDate}]],
            description: [[${deadline.value.getDescription}]],
        }
        events.push(tempDeadline);
    </script>

    <!-- Save event information, so it can be accessed by the calendar for event icons -->
    <script type="text/javascript" th:inline="javascript" th:each="event, iterInfo: ${events}">
        tempEvent = {
            id: [[${event.value.getId}]],
            title: [[${event.value.getNumberOfEvents}]],
            eventType: [[${event.value.getType}]],
            start: [[${event.value.getDate}]],
            description: [[${event.value.getDescription}]],
        }
        events.push(tempEvent);
    </script>

    <!-- Save milestone information, so it can be accessed by the calendar for milestone icons -->
    <script type="text/javascript" th:inline="javascript" th:each="milestone, iterInfo: ${milestones}">
        tempMilestone = {
            id: [[${milestone.value.getId}]],
            title: [[${milestone.value.getNumberOfEvents}]],
            eventType: [[${milestone.value.getType}]],
            start: [[${milestone.value.getDate}]],
            description: [[${milestone.value.getDescription}]],
        }
        events.push(tempMilestone);
    </script>

    <script rel="script" th:src="@{scripts/planner.js}"></script>


</head>

<body>
    <!-- Import the application's header bar. -->
    <header th:replace="fragments/header :: header"></header>
    <!-- Import the application's navigation bar. -->
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <div id="page-content" class="constrict">
        <!-- Populate the following div with projects and their details. -->
        <div id="project">
            <!-- Name, Date -->
            <header class="project__header flex-column">
                <h1 id="project__name" th:text="${project.getName}"></h1>
                <h2 id="project__date" th:text="|${project.getStartDateString} - ${project.getEndDateString}|"></h2>
                <p hidden="hidden" id="user__rolesList" th:text="${user.getRolesList()}"></p>
            </header>

            <div id="calendar__container">
                <div id="calendar"></div>
            </div>

        </div>
    </div>

</body>
</html>